* {
    margin: 0;
    padding: 0;
}

div {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
    border-collapse: collapse;
}

th, td, tr{
    border: 1px solid black; 
    padding: 20px 25px; 
    font-weight: bold;
    
}

tr.claro {
    background-color: rgb(223, 220, 220);
}

tr.escuro {
    background-color: rgb(189, 186, 186);
}


